.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6333, #f53e2d);
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.list {
  margin: 4px 0 0 0;
  list-style: none;
  padding-left: 0;
}
.list-item {
  margin: 0 8px;
  position: relative;
}

.list-item,
.list-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.list-item,
.list-item-link,
.item-icon-link {
  display: inline-flex;
  align-items: center;
}
.list-item:hover,
.list-item-link:hover,
.item-icon-link:hover {
  z-index: 1;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
.list-item--strong {
  font-weight: 500;
}
.list-item--display-qr:hover .list-item__qr {
  display: block;
}

.list-item--has-notify:hover .list__notify {
  display: block;
}

.list-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}
.item-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.icon {
  font-size: 1.8rem;
  margin: 0 4px;
}
.list-item--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR code */
.list-item__qr {
  position: absolute;
  width: 186px;
  background-color: var(--white-color);
  left: 0;
  top: 118%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
}
.list-item__qr::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 18%;
  top: -16px;
  left: 0;
}
.list-item__qr-img {
  width: 100%;
}
.list-item__platform {
  display: flex;
  justify-content: space-between;
}
.list-item__platform-link:nth-child(1) {
  margin-left: 11px;
}
.list-item__platform-link:nth-child(2) {
  margin-right: 11px;
}
.list-item__platform-img {
  height: 16px;
}

/* List notification */
.list__notify {
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  background-color: var(--white-color);
  border: 1px solid rgb(229 229 229);
  cursor: default;
  transform-origin: 90% top;
  animation: listNotifyGrowth ease-in 0.2s;
  -webkit-animation: listNotifyGrowth ease-in 0.2s;
  -ms-animation: listNotifyGrowth ease-in 0.2s;
  -o-animation: listNotifyGrowth ease-in 0.2s;
  -moz-animation: listNotifyGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}

.list__notify::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}

.list__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  right: 0;
  top: -16px;
  height: 20px;
}

@keyframes listNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.notify-header {
  height: 40px;
  background-color: var(--white-color);
}
.notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 40px;
  user-select: none;
}

.notify-list {
  padding-left: 0;
}

.notify-item {
  display: flex;
  background-color: rgba(238, 77, 45, 0.08);
}
.notify-item--viewed {
  background-color: var(--white-color);
}
.notify-item:hover {
  background-color: #f7f7f7;
}
.notify-link {
  display: flex;
  padding: 12px;
  text-decoration: none;
  width: 100%;
}
.notify-img {
  width: 48px;
  object-fit: contain;
}

.notify-info {
  margin-left: 12px;
}

.notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.notify-description {
  margin-top: 4px;
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #756f6e;
}

.notify-footer {
  display: flex;
}

.notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 8px 0px;
  width: 100%;
  text-align: center;
}

/* Authen modal */

.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #777;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__control {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__control-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 36px;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  border-left: 1px solid #eaeaea;
  height: 22px;
  margin: 0px 16px 1px;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* SEARCH */

.search {
  height: var(--search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.search__logo {
  margin-top: 5px;
  width: 200px;
}

.search__logo-img {
  border-radius: 10px;
  width: 180px;
  height: 96px;
}

.search__frame {
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.search__cart {
  width: 150px;
  text-align: center;
}

.search__cart-wrap{
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.search__cart-icon {
  color: var(--white-color);
  font-size: 2.4rem;
  margin-top: 6px;
}

.search__cart-wrap:hover .search__cart-list{
  display: block;
}

.search__cart-list{
  position: absolute;
  top: calc(100% + 6px);
  right: 1px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  display: none;
  animation: fadeIn ease-in 0.2s;
  cursor: default;
}

.search__cart-list::after{
  cursor: pointer;
  content: "";
  position: absolute;
  right: 3px;
  top: -26px;
  border-width: 16px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent ;
}

.search__cart-list--no-cart{
  padding: 28px 0;
}

.search__cart-no-cart-img{
  width: 100%;
  height: 450px;
}

.search__cart-list--no-cart-msg{
  display: block;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}


.search__frame-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.search__frame-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.search__frame-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.search__frame-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.search__frame-select-icon {
  font-size: 1.4rem;
  color: #6d6868;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.search__frame-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.search__frame-btn:hover {
  background-color: #fd6e50;
  cursor: pointer;
}

.search__frame-btn-icon {
  font-size: 1.4rem;
  color: var(--white-color);
}

.search__frame-select:hover .search__select-option {
  display: block;
}

.search__select-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 130px;
  list-style: none;
  box-shadow: 0 1px 2px #ccc;
  padding-left: 0;
  border-radius: 2px;
  margin-top: 16px;
  display: none;
  animation: fadeIn ease-in 0.2s;
}

.search__select-option::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  top: -30px;
}

.search__select-option-item {
  background-color: var(--white-color);
  padding: 8px;
}

.search__select-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.search__select-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.search__select-option-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.search__select-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.search__select-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.search__select-option-item--active i {
  display: inline-block;
}

.search__frame-input:focus ~ .search__frame-history{
  display: block;
}

/* SEARCH HISTORY */
.search__frame-history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(175, 175, 175);
  display: none;
  overflow: hidden;
}

.search__frame-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.search__frame-history-list {
  padding-left: 0;
  list-style: none;
  margin: 6px 0 0 0;
}

.search__frame-history-item {
  height: 38px;
  padding: 0 16px;
}



.search__frame-history-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}

.search__frame-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}
